@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{

    <li class="dropdown">
        <a href="#"><span><i class="bi bi-person-circle"></i> @User.Identity.Name.Split('@')[0]</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>
            <li><a href="~/Manage/Index">Hồ sơ cá nhân</a></li>
            <li><a href="~/admin/Index">Quản trị</a></li>
        </ul>
    </li>

    @*<li>
        @Html.ActionLink("Hi, " + User.Identity.GetUserName().Split('@')[0] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
    </li>*@
    <li>
        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    </li>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "display:none" }))
    {
        @Html.AntiForgeryToken()
    }
}
else
{
    <li>
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
    </li>
    <li>
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
    </li>
}